/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
         padding: 0;
            border: 0;
               font-size: 100%;
                  font: inherit;
                     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
      display: block;
}
body {
      line-height: 1;
}
ol, ul {
      list-style: none;
}
blockquote, q {
      quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
      content: '';
         content: none;
}
table {
      border-collapse: collapse;
         border-spacing: 0;
}

/**** END OF RESET  ***/

html, body {
   height: 100%;
}

html {
   background: #efefef;
}

body {
   color: #ababab;
}

.wrapper {
   margin: 0 auto;
   background: #222222;
   padding-bottom:30px;
}

.footer, .push {
   height: 4em;
}

h1 {
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   font-size: 48px;
}

div.player {
   display:inline-block;
	text-align:center;
   padding: 10px;
   margin: 10px;
   /*width: 185px; */
	width: auto;
   min-width: 260px;
   height: 165px;
   border: 1px solid black;
   background: white;
   color: #555;
   float: left;
}
div.player a { 

}
div.player img {
   margin-bottom: 3px;
	width: 165px;
}

div.player span {
   padding-top: 3px;
   font-size: 11pt;
}

#signtitle {
   display: block;
   min-height: 30px;
   text-align: center;
   margin-bottom: 20px;
}

#signtitle span {
   margin: 12px auto;
   font-size: 108px;
   font-family: 'Lucida Bright', Helvetica, sans-serif;
   color: #248a8a;
   vertical-align: bottom;
   text-shadow: 2px 0 2px #ccc;
}

.centered {
   margin: 0 auto;
}

#vid-list {
   width: 100%;
   min-height: 200px;
   height: auto;
   text-align: center;
}

#vid-list-container {
   width: 1280px;
   padding: 0 30px;
   min-width: 800px;
   min-height: 400px;
   text-align: center;
   margin-bottom: 40px;
}

.vid-div {
   float: left;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   width: 144px;
   height: 150px;
   margin: 12px 24px 30px 24px;
   font-weight: bold;
   color: #5375A1;
}

.vid-num {
	margin-top: 8px;
	margin-bottom: 4px;
	font-size: 0.7em;
}

span.vidtime {
   position: relative;
   top: 3px;
   font-size: 12px;
   color: #777;
   padding-top:3px;
}

#footer-logo-list li {
   display: inline;
   margin: 0 25px 0 25px;
}

.autoplayspan a {
   color: #777;
   text-decoration: none;
   font-weight: normal;
}

.enabled {
   color: #7f7;
   font-weight: bold;
}

#generate {
	width: 200px;
	margin: 0 auto;
	display: block;
	padding-left: 30px;
}

.slolightbox {
   height: 112px;
   display: block;
   border: 1px solid #CCC;
   width: 144px;
}

.slolightbox :hover {
   border: 1px solid #fff;
}

.chosenVid {
   background: yellow;
}

#sidesearch-wrap {
   width: 400px;
   text-align: center;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}

#searchid input{
   padding: 1px 2px;
   background: #bbb;
   border: 1px solid #aaa;
}

#searchidbutton {
   background: #aaeeaa;
   border: 1px solid #aaa;
}

#searchidbutton:hover {
   background: #88aa88;
}

.shadow {
   -moz-box-shadow:    2px 5px 13px 4px #bbb;
   -webkit-box-shadow: 2px 5px 13px 4px #bbb;
   box-shadow:         2px 5px 13px 4px #bbb;
}

.closingtext {
   padding: 30px;
   text-align: center;
   color: #4f554c;
   margin: 0 auto;
   font-size: 32px;
}

.closingtext a {
   text-decoration: none;
   color: #faac38;
}

.footer {
   background: #393939;
   border-top: 1px solid #efefef;
   min-height:90px;
   padding-top:20px;
   text-align: center;
}

.frontcenter {
   position: fixed;
   top: 38%;
   left: 38%;

}
