@charset "utf-8";
/* CSS Document */

.record-or-preview
{
	
	font-size: 100%;
}

.record-or-preview button
{
	width: 40px;
	height: 40px;
}

.record-or-preview .video 
{
	text-align:center;	
	width:640px;
	margin:auto;
	padding: 0px;
}



#track.record-or-preview 
{
	position:relative;
	outline: 1px solid black;	
	height:40px;
}

/*.record-or-preview .track
{
	position:absolute;
	left:0px;
    top:0px;
    width: 640px;
    height: 40px;
}
*/
#densitybar.record-or-preview 
{
	z-index: 1;
	width: 480px;
}
#selectedRegion.record-or-preview 
{
	z-index: 2;
	width: 480px;
}
#thumb.record-or-preview 
{
	z-index: 3;	
	width: 480px;

}
#videoControls.record-or-preview 
{
	float: left;
	margin:auto;
	text-align:center;
	width: 80%;
}

#timeBox.record-or-preview 
{
	padding-left:2px;
	padding-right:2px;
	height: 40px;
	font-size:0.6em;
	line-height: 40px;
	display: inline-block;
	position: absolute;
	left: 485px;
}

#buttonsBar.record-or-preview 
{
	clear:both;	
	margin-top:5px;	
	margin-left: -40px;
	margin-right: -40px;
}

#backButtons.record-or-preview 
{
	float:left;
	width: 10%;
	text-align:left;
}
#forwardButtons.record-or-preview 
{
	float: right;	
	width: 10%;
	text-align:right;
}

#videoContainer.record-or-preview 
{
	max-width: 100%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#videoRecordingOrPreview.loading  {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#videoRecordingOrPreview.loading .modal  {
    display: block;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.record-or-preview-dialog
{
/*	position: fixed;*/
/*	top: 0px;*/
}
