@charset "utf-8";
/* CSS Document */

.record-or-preview
{
	
	font-size: 100%;
}

button.videoControlsContainer 
{
	width: 40px;
	height: 40px;
	background-color: white;
}

.record-or-preview .video 
{
	text-align:center;	
	width:640px;
	margin:auto;
	padding: 0px;
}

.fullScreen
{
	width:100%;
}

.fullScreen .audioButtonsBar div
{
	display:inline;
}
.fullScreen .audioButtonsBar
{
	display:none;
	/*display:inline;*/
	margin-left: 5%;
}

.fullScreen .audioButtonsBar label
{
	vertical-align: -webkit-baseline-middle;
}

.fullScreen .videoControls 
{
	display: inline;
	margin: auto;
}

.videoControlsContainer.track
{
	position:relative;
	outline: 1px solid black;	
	height:40px;
	background-color: white;
}

.videoControlsContainer.track canvas
{
	position:absolute;
	left:0px;
    top:0px;
    /*width: 480px;*/
    width: 75%;
    height: 40px;
    background-color: transparent;
}

.videoControlsContainer.track.densitybar
{
	z-index: 1;
	/*width: 480px;*/
}

.videoControlsContainer.track.selectedRegion
{
	z-index: 2;
	/*width: 480px;*/

}
.videoControlsContainer.track.thumb
{
	z-index: 3;	
	/*width: 480px;*/
}
.videoControlsContainer.controlsBar.videoControls
{
/*	float: left;*/
	margin:auto;
	text-align:center;
/*	width: 80%;*/
}


.videoControlsContainer.controlsBar.videoControls button
{
	width: 40px;
	height: 40px;
}
.videoControlsContainer.timeBox
{
	padding-left:2px;
	padding-right:2px;
	height: 40px;
	/*width: 80px;*/
	/*width: 18%;*/
	font-size:0.6em;
	line-height: 40px;
	display: inline-block;
	position: absolute;
	left: 75%;
	outline: none;
}

.fullScreen .videoControlsContainer.timeBox
{
	font-size:1em;
}

.videoControlsContainer.controlsBar
{
/*	clear:both; */	
	margin-top:5px;	
/*	margin-left: -40px;
	margin-right: -40px;*/
	text-align: center;
}


div.videoControlsContainer.controlsBar.forwardButtons
{
	float: right;	
/*	width: 10%; */
	text-align:right;
	margin-right: -40px;
}


/***********************/


div.videoControlsContainer.controlsBar.backButtons
{
	float:left;
/*	width: 10%; */
	text-align:left;	
	margin-left: -40px;
}

.videoControlsContainer.controlsBar.videoControls.beginButton
{
	background-image: url(../../images/recordOrPreview/beginning.png);
	background-repeat: no-repeat;
}

.videoControlsContainer.controlsBar.videoControls.stepBackwardButton
{
	background-image: url(../../images/recordOrPreview/jumpback_small.png);
	background-repeat: no-repeat;
}

.videoControlsContainer.controlsBar.videoControls.playButton
{
	background-image: url(../../images/recordOrPreview/play_small.png);
	background-repeat: no-repeat;
}

.videoControlsContainer.track.fullScreenButton
{
	background-image: url(../../images/recordOrPreview/fullscreen.png);
	background-repeat: no-repeat;
	float: right;
}
	
.videoControlsContainer.controlsBar.videoControls.stepForwardButton
{
	background-image: url(../../images/recordOrPreview/jumpforward_small.png);
	background-repeat: no-repeat;	
}
.videoControlsContainer.controlsBar.videoControls.endButton
{
	background-image: url(../../images/recordOrPreview/end.png); 
	background-repeat: no-repeat;
	background-position-x: -3px;	
}


.videoControlsContainer.controlsBar.backButtons.backButton
{
	background-image: url(../../images/recordOrPreview/previous_small.png); 
	background-repeat: no-repeat;	
}
.videoControlsContainer.controlsBar.forwardButtons.forwardButton
{
	background-image: url(../../images/recordOrPreview/submit_small.png); 
	background-repeat: no-repeat;	
}

/*
 * Recording buttons
 */
.videoControlsContainer.controlsBar.backButtons.backButton.record
{
	background-image: url(../../images/recordOrPreview/cancel_small.png); 
	background-repeat: no-repeat;	
}
.videoControlsContainer.controlsBar.forwardButtons.forwardButton.record
{
	background-image: url(../../images/recordOrPreview/next_small.png); 
	background-repeat: no-repeat;	
}

.videoControlsContainer.controlsBar.backButtons.backButton.record
{
	background-image: url(../../images/recordOrPreview/cancel_small.png); 
	background-repeat: no-repeat;	
}

.videoControlsContainer.controlsBar.videoControls.recordButton
{
	background-image: url(../../images/recordOrPreview/rec1_small.gif); 
	background-repeat: no-repeat;	
}
/*
 * Recording buttons end
 */


.videoControlsContainer.track.volumeControl
{

	width: 40px;
	height: 40px;
	float:right; 
	text-align: center;
	background-color: white;
}
.videoControlsContainer.track.volumeControl img
{
	width: 80%;
	height: 80%;
	vertical-align: -50%;
	line-height:40px;
}
.videoControlsContainer.track.volumeControl.volumeSlider
{
	display:none;
	position: relative;
	
	width: 80px;
	height: 20px;
	left:-45px;
	top: -25px;
	border: 1px solid black;
	text-align: center;
}
.videoControlsContainer.track.volumeControl.volumeSlider.ui-slider
{
	text-align: center;
	margin: 0px;
}
.videoControlsContainer.track.volumeControl.volumeSlider .ui-slider-range
{
	background: green;
	margin: 0px;
}
.videoControlsContainer.track.volumeControl.volumeSlider .ui-slider-handle
{
	left: 0px;
	top: -2px;
}

.videoControlsContainer.controlsBar.audioButtonsBar
{
	clear:both;
	padding-top:5px;	
}