@charset "utf-8";
/* CSS Document */


#beginButton.record-or-preview.preview 
{
	background: url(../../images/recordOrPreview/beginning.png) no-repeat;	
}

#endButton.record-or-preview.preview
{
	background: url(../../images/recordOrPreview/end.png) no-repeat;	
}

#stepBackwardButton.record-or-preview.preview
{
	background: url(../../images/recordOrPreview/jumpback_small.png) no-repeat;	
}

#stepForwardButton.record-or-preview.preview
{
	background: url(../../images/recordOrPreview/jumpforward_small.png) no-repeat;	
}

#playButton.record-or-preview.preview 
{
	background: url(../../images/recordOrPreview/play_small.png) no-repeat;	
}

#backButton.record-or-preview.preview 
{
	background: url(../../images/recordOrPreview/previous_small.png) no-repeat;	
}

#submitButton.record-or-preview.preview 
{
	background: url(../../images/recordOrPreview/submit_small.png) no-repeat;	
}


#volume.record-or-preview 
{

	width: 40px;
	height: 40px;
	float:right; 
	text-align: center;
}
#volumeImage.record-or-preview 
{
	width: 80%;
	height: 80%;
	vertical-align: -50%;
	line-height:40px;
}
#volumeSlider.record-or-preview
{
	display:none;
	position: relative;
	
	width: 80px;
	height: 20px;
	left:-85px;
	top: -25px;
	border: 1px solid black;
	text-align: center;
}
#volumeSlider.record-or-preview.ui-slider
{
	text-align: center;
	margin: 0px;
}
#volumeSlider.record-or-preview.ui-slider-range
{
	background: green;
	margin: 0px;
}
#volumeSlider.record-or-preview.ui-slider-handle
{
	left: 0px;
	top: -2px;
}

#audioButtonsBar.record-or-preview 
{
	clear:both;
	padding-top:5px;	
}