@charset "utf-8";
/* CSS Document */

#recordButton.record-or-preview.record 
{
	background: url(../../images/recordOrPreview/rec1_small.gif) no-repeat;	
}

#backButton.record-or-preview.record
{
	background: url(../../images/recordOrPreview/cancel_small.png) no-repeat;	
}

#submitButton.record-or-preview.record
{
	background: url(../../images/recordOrPreview/next_small.png) no-repeat;	
}


#flashContent.record-or-preview
{
	width: 640px;
	height: 480px;
	text-align: center;
	margin: auto;
}