h1 {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
}
h3 {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 150%;
    padding-left: 20px;
}

/************* MAIN containers *****************/

#container {
	margin: 0;
	width: 1300px;
	background: #fff;
}

#header {
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation {
	float: left;
	width: 1300px;
	background: #333;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container {
	float: left;
	width: 1300px;
	background: #fff;
}

#content-left {
	clear: left;
	float: left;
	width: 700px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }

#content-right {
	float: right;
	width: 500px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#footer {
	clear: both;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.cleardiv {
    clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.source-media-container{
	width: auto;
	height: auto;
	padding:10px;
	/*background: rgb(245, 250, 255);*/
	/*border: 1px solid rgb(105, 186, 211);*/
	float: left;
}

/*Video controls area */
#main-video-container .videoControlsContainer.timeBox
{
	padding-left:2px;
	padding-right:2px;
	height: 40px;
	font-size:1em;
	line-height: 40px;
	display: inline-block;
	position: absolute;
	left: 480px;
	outline: none;
}

/*media controls of main video*/
.source-video-controls{
	/*height:230px;*/
	width:auto;
	float:left;
    position: absolute;
	/*background:gray;*/
	padding:5px;
    z-index:1005;
}

/*media controls of main video for individual images*/
.specific-video-controls img{
	margin:3px 0 3px 0;
}

.source-text-container{
	/*width:365px;*/
	height: auto;
	min-height: 50px;
	max-height: 200px;
/*	margin-left:5px;
    margin-top: 25px;*/
	border: 1px solid rgb(190,190,190);
	background: #fff;
	display: none;
	overflow: auto;
    line-height: 135%;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

/*
 * Comment area
 *
 */

#linkCanvas{
	margin-left:10px;
	background:white;
	border: 1px solid black;
}

#video-playback-buttons-container {
	float:left;
}

#video-playback-buttons-container div#pushleft {
    float: right;
}

.writing-reply {
    border: 1px solid gray;
}

#comment-details {
    width: 95%;
    max-width: 650px;
    height: auto;
    display: inline-block;
    background: rgb(247,247,247);
    padding: 20px 0 5px 20px;
    border: 1px solid rgb(114,201,98);
}

#new-comment-form input, textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

#comment-textarea {
    width: 90%;
    height: auto;
    min-height: 90px;
}

#new-comment-form span#toggle-time-span {
    color: blue;
    cursor: pointer;
}

/*
 * feedback
 */

.arrow-container{
	background: rgb(228,239,250);
	width:100%;
	height:25px
}

.arrow-container img{
	float:right;
	width:25px;
	height:25px;
}

.comment-container{
	/*float:left;*/
	/*margin-left:30px;*/
    min-width: 600px;
	width:auto;
	height:auto;
}

.comment-left-side-wrap {
    width: 25%;
    height: auto;
    min-height: 150px;
    float: left;
}

.comment-tools-div {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
}

.comment-tools-div ul li,a {
    display: inline;
    text-decoration: none;
}
.comment-tools-div ul li {
    padding-left: 5px;
}
.comment-tools-div ul li a:hover {
    text-shadow: 0px 2px 2px #ccc;
    border-bottom: 1px solid blue;
}


.comment-date {
	font-size: 0.6em;
	float: left;
	color: rgb(175,175,175);
	padding: 3px 0;
	width: 100%;
	border-bottom: 1px dotted rgb(231,227,227);
}

.comment-edit-link {
    
}

.comment-delete-link {
    
}

#dialog-confirm {
    display: none;
}

.feedback-container{
	padding:10px;
	height:auto;
	width:500px;
	clear:right;
	margin-bottom:10px;
/*	background:#dcd3e3;*/
	/*background:#efefef;*/
	border:1px dotted rgb(175,175,175);
	overflow:hidden;
	border-radius: 20px;
}

.reply-container {
    border: none;
    background: #fff url('../images/line-down-right.gif') 5px 15px no-repeat;
}

.generic-reply-form-container {
	border: 1px solid gray;
	width: 90%;
	margin-bottom: 30px;
}

form.commentReplyForm {
	display: inline;
}

.comment-content-container {
	float: left;
	width: 70%;
	height: 100%;
	/*background: #efefef;*/
	border: 1px solid rgb(236,236,236);
}

.comment-content{
	width:100%;
	height:100px;
	overflow:hidden;
	background: #fff;
}


/*.comment-content img{
	position:relative;
	left:35%;
	width:120px;
	height:100px;
	margin:0 auto 0 auto;
}*/

.comment-content video{
	position:relative;
	width:120px;
	height:100px;

}

.comment-avatar-div {
/*	width:24%;*/
	text-align:center;
/*    float:left;*/
/*    display: inline-block;*/	
	font-size: 0.85em;
	margin-bottom: 5px;
	margin-top: 15px;
}

.comment-avatar-div img {
	width: 75px;
	height: 75px;
}

.comment-avatar-div p {
	font-size: 0.8em;
	line-height: 150%;
}

.feedback-properties{
   width: 4%;
   height: 100%;
   float: right;
}

.feedback-properties img{
   width:25px;
   height:25px;
}

.comment-text{
	overflow-y: auto;
	width:100%;
	height:auto;
	min-height: 45px;
	/*margin:5px auto;*/
	background:white;
/*	border:1px solid black;*/
    padding: 10px 5px 5px;
    line-height: 1.4em;
    font-family: Tahoma, Geneva, sans-serif;
    color: #555;
    font-size: 0.75em;
}

.reply-content {
	/*width: auto;*/
	/*border: 1px solid black;*/
    /*margin-left: 25px;*/
    
}

.comment-reply-span {
	display: block;	
}

.comment-reply-span hover {
	background: green;
}

.reply-wrap {
    float: right;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-right: 17px;
}

.commentReplyLink {
    text-decoration: none;
    background: rgb(240,250,254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,250,254,1) 0%, rgba(212,241,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,250,254,1)), color-stop(100%,rgba(212,241,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,250,254,1) 0%,rgba(212,241,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,250,254,1) 0%,rgba(212,241,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,250,254,1) 0%,rgba(212,241,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,250,254,1) 0%,rgba(212,241,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0fafe', endColorstr='#d4f1fe',GradientType=0 ); /* IE6-9 */
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid rgb(193,221,193);
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.80em;
    text-shadow: 1px 1px 1px #fff;
}

.commentReplyLink:hover {
    /*background: rgba(196,241,196,0.41);*/
}

.text_reply{
	width:100%;
}

.edit-video-link{
	float:right;
}

.delete-comment{
	display: none;
	position: relative;
	left: 500px;
	width: 25px;
}

#comment-form-wrap {
    clear: both;
}

#new-comment-time-div label, input {
    display: inline;
}

#commentButtonWrap {
    float: left;
    clear: both;
    margin: 25px 0;
    width: 100%;
}

#commentButtonWrap button {
    padding: 15px;
}

img.clickable {
    cursor: pointer;
}


select#userExistingVideo {
    display:inline;
}

#input-upload-div
{
	width: 300px;
}
#new-comment-form fieldset
{
	width: 300px;
}

#cancel-button {

}

#cancel-button:hover {

}

.awesomehighlight, #new-comment-form input[type="button"]:hover, 
    input[type="submit"]:hover, input[type="file"]:hover, 
    .commentReplyLink:hover, #postCommentButton:hover {
    background: rgb(151,237,117); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(151,237,117,1) 54%, rgba(64,208,48,1) 88%, rgba(166,218,146,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,rgba(151,237,117,1)), color-stop(88%,rgba(64,208,48,1)), color-stop(100%,rgba(166,218,146,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(151,237,117,1) 54%,rgba(64,208,48,1) 88%,rgba(166,218,146,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(151,237,117,1) 54%,rgba(64,208,48,1) 88%,rgba(166,218,146,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(151,237,117,1) 54%,rgba(64,208,48,1) 88%,rgba(166,218,146,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(151,237,117,1) 54%,rgba(64,208,48,1) 88%,rgba(166,218,146,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97ed75', endColorstr='#a6da92',GradientType=0 ); /* IE6-9 */
    color: #222;
    text-shadow: 2px 2px 2px #fff;
    cursor: pointer;
}

#postCommentButton {
    text-shadow: 2px 2px 2px #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.8em;
}


/************ error stuff ************/
.error-wrap {
	clear: both;
	display: block;
	padding: 25px;
	border: 1px solid red;
	margin: 10px;
}

.error-red {
	color: red;
	padding-top: 10px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    block;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/recordOrPreview/loading.gif') 
                50% 40% 
                no-repeat;
                
	font-size:	200%;
   
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
/*.modal .loading
{
	display: block;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}*/