/************* MAIN containers *****************/

#container {
	margin: 0;
	width: 1300px;
	background: #fff;
}

#header {
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation {
	float: left;
	width: 1300px;
	background: #333;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container {
	float: left;
	width: 1300px;
	background: #fff;
}

#content-left {
	clear: left;
	float: left;
	width: 700px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }

#content-right {
	float: right;
	width: 500px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#footer {
	clear: both;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.cleardiv {
    clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.source-media-container{
	width:auto;
	height:auto;
	padding:10px;
	background:#dcd3e3;
	border:2px solid gray;
	float:left;
}


/*media controls of main video*/
.source-video-controls{
	/*height:230px;*/
	width:auto;
	float:left;
    position: absolute;
	/*background:gray;*/
	padding:5px;
    z-index:1005;
}

/*media controls of main video for individual images*/
.specific-video-controls img{
	margin:3px 0 3px 0;
}

.source-text-container{
	/*width:365px;*/
	height:200px;
	margin-left:5px;
    margin-top: 25px;
	border:1px solid black;
	background:white;
	display:none;
	overflow: auto;
    line-height:135%;
    padding: 10px;
}

/*
 * Comment area
 *
 */

#linkCanvas{
	margin-left:10px;
	background:white;
	border: 1px solid black;
}

#video-playback-buttons-container {
	float:left;
}

.comment-details {
    width: 100%;
    height: auto;
    display:inline-block;
}

#new-comment-form input, textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

/*
 * feedback
 */

.arrow-container{
	background: #dedede;
	width:100%;
	height:25px
}

.arrow-container img{
	float:right;
	width:25px;
	height:25px;
}

.comment-container{
	/*float:left;*/
	/*margin-left:30px;*/
    min-width: 600px;
	width:auto;
	height:auto;
}

.comment-left-side-wrap {
    width: 25%;
    height: auto;
    min-height: 150px;
    float: left;
}

.comment-tools-div {
    width: 100%;
    float: left;
    display: inline-block;
}

.comment-tools-div ul li,a {
    display: inline;
}

.comment-edit-link {
    
}

.comment-delete-link {
    
}

#dialog-confirm {
    display: none;
}

.feedback-container{
	padding:10px;
	height:auto;
	width:500px;
	clear:right;
	margin-bottom:10px;
/*	background:#dcd3e3;*/
	background:#efefef;
	border:1px solid gray;
	overflow:hidden;
}

.reply-container {
    border: none;
    background: #fff url('../images/line-down-right.gif') 5px 15px no-repeat;
}

.generic-reply-form-container {
	border: 1px solid gray;
	width: 90%;
	margin-bottom: 30px;
}

form.commentReplyForm {
	display: inline;
}

.comment-content-container {
	float: left;
	width: 70%;
	height: 100%;
	background: #efefef;
	border: 1px solid #dedede;
}

.comment-content{
	width:100%;
	height:100px;
	overflow:hidden;
}


/*.comment-content img{
	position:relative;
	left:35%;
	width:120px;
	height:100px;
	margin:0 auto 0 auto;
}*/

.comment-content video{
	position:relative;
	width:120px;
	height:100px;

}

.comment-avatar-div{
/*	width:24%;*/
	text-align:center;
/*    float:left;*/
/*    display: inline-block;*/	
	font-size: 0.85em;
	margin-bottom: 5px;
}

.comment-avatar-div img {
	width: 75px;
	height: 75px;
}

.feedback-properties{
   width: 3%;
   height: 100%;
   float: right;
}

.feedback-properties img{
   width:25px;
   height:25px;
}

.comment-text{
	overflow-y:auto;
	width:90%;
	height:auto;
	min-height: 45px;
	margin:5px auto;
	background:white;
/*	border:1px solid black;*/
}

.reply-content {
	width: auto;
	border: 1px solid black;
    margin-left: 25px;
    
}

.comment-reply-span {
	display: block;	
}

.comment-reply-span hover {
	background: green;
}

.reply-wrap {
	display: none;
}

.text_reply{
	width:100%;
}

.edit-video-link{
	float:right;
}

.delete-comment{
	display:none;
	position:relative;
	left:500px;
	width:25px;
}

#commentButtonWrap {
    float: left;
    clear: both;
    margin: 25px 0;
    width: 100%;
}

#commentButtonWrap button {
    padding: 15px;
}

img.clickable {
    cursor: pointer;
}


#input-upload-div
{
	width: 300px;
}
#new-comment-form fieldset
{
	width: 300px;
}

#new-comment-form input[type="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
    background: #ccffcc;
}

/************ error stuff ************/
.error-wrap {
	clear: both;
	display: block;
	padding: 25px;
	border: 1px solid red;
	margin: 10px;
}

.error-red {
	color: red;
	padding-top: 10px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    block;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/recordOrPreview/loading.gif') 
                50% 40% 
                no-repeat;
                
	font-size:	200%;
   
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
/*.modal .loading
{
	display: block;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}*/